
# verzeichnisse ganz ausschliessen dir/
bicycle_computer_v1_geht/


# Trifft alles unterhalb dieses Verzeichnisses  dir/**
bicycle_computer_v2/.launches/**
bicycle_computer_v2/Debug/**


# Dateien an genau dieser Stelle /*.c
bicycle_computer_v2/.xdchelp

# Trifft Datei/Verzeichnis überall **/foo
**/.xdchelp
**/Debug/**
**/.config 