
# verzeichnisse ganz ausschliessen dir/
bicycle_computer_v1_geht/
workspace_0401/**

# Trifft alles unterhalb dieses Verzeichnisses  dir/**
bicycle_computer_v2/.launches/**
bicycle_computer_v2/Debug/**


# Dateien an genau dieser Stelle /*.c
bicycle_computer_v2/*.xdchelp


# Trifft Datei/Verzeichnis überall **/foo
**/.xdchelp
**/Debug/**
**/.config 
**/.pdom
**/.log
**/.xml
**/.log



**/.version

**/.prefs
**/.ini
workspace_0401/.metadata/.plugins/org.eclipse.cdt.ui/bicycle_computer.build.log
workspace_0401/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
workspace_0401/.metadata/.log
SO_WS_BLE_ADV_URI/.metadata/.lock
*.xml
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.cdt.core/simplebroadcast_improved_recharge.1459495506576.pdom
*.index
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
*.tree
SO_WS_BLE_ADV_URI/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi