# Projekt liegt in Workspace Desktop/v4

**/.xdchelp
**/Debug/**
**/.config 
**/.pdom
**/.log
**/.xml
**/.log



# verzeichnisse ganz ausschliessen dir/
bicycle_computer_v1_geht/**
workspace_0401/**
bicycle_computer_v2/.launches/**
bicycle_computer_v2/Debug/**

biccle_computer_neu/**

bicycle_computer_v4/.metadata/**
SO_WS_BLE_ADV_URI/.metadata/**
bicycle_computer_v5/.metadata/**

# Dateien an genau dieser Stelle /*.c
bicycle_computer_v2/*.xdchelp






**/.version

**/.prefs
**/.ini
workspace_0401/.metadata/.plugins/org.eclipse.cdt.ui/bicycle_computer.build.log
workspace_0401/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
workspace_0401/.metadata/.log